[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Peptides"]
	path = Peptides
	url = https://github.com/dosorio/peptides
[submodule "rPanglaoDB"]
	path = rPanglaoDB
	url = https://github.com/dosorio/rpanglaodb
[submodule "retriever"]
	path = retriever
	url = https://github.com/cran/retriever
